*:focus{
	outline: none !important;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.disable-selection {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#loginTitle {
	text-align: center;
	margin-top: 12rem;
	margin-bottom: 8rem;
	font-size: 100px;
	width:100%;
}

#tortFeederLogo {
	display: block;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.group {
  position:relative;
	margin-left: 50%;
	width:300px;
	transform: translate(-50%, 0%);
	margin-bottom: 8rem;
}
#passwordInput {
  font-size:28px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
	text-align: center;
	width:300px;
}
#passwordInput:focus {
	outline:none;
}

#passwordLabel {
  color:#999;
  font-size:28px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
	width:300px;
	text-align:center;
}

/* active state */
#passwordInput:focus ~ #passwordLabel, #passwordInput:valid ~ #passwordLabel {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar {
	position:relative;
	display:block;
	width:300px;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:rgb(0,0,0);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
#passwordInput:focus ~ .bar:before, #passwordInput:focus ~ .bar:after {
  width:50%;
}

#passwordSubmitBtn {
	display: block;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-bottom: 4rem;
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

#passwordSubmitBtn:hover {
	background-color: rgb(240,240,240);
}

#passwordSubmitBtn:active {
	background-color: rgb(220,220,220);
}

#guestBtn {
	cursor: pointer;
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#guestBtn:hover {
	color: black;
}

#feedBtn {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#videoFeed {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
