<html>
	<head>
		<title>TortWeb</title>

		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="description" content="AugNav website for map creators.">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../static/home.css">

		<link rel="icon" type="image/png" href="../static/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../static/favicon-16x16.png" sizes="16x16" />

		<script src="../static/jquery.min.js"></script>
		<script src="../static/bootstrap.min.js"></script>
	</head>
	<body>
		<button class="feedBtn" onclick="callFeed()">Feed</button>
		<img src="/video_feed"></img>

		<script src="../static/home.js"></script>
	</body>
</html>
